<body class="background-image">

<h1>Parties</h1>
<p class="new-event">
<% if logged_in? %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
</p>

<!-- <table>
  <thead>
    <tr>
      <th>Party Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <!-- <tbody> -->
  <div class="col-md-12 all-events">
    <% @events.each do |event| %>
      <div class="own-event">
        <div class="color-box">
        <p><%= image_tag event.avatar.url(:thumb) %></p>
        <p><%= link_to "#{event.name}", event %></p>
        <!-- <p><%= event.date %>
        <p><%= event.time %>
        <p><%= event.location %> -->
        </div>

        <!-- <td><%= link_to 'Show', event %></td>-->
    </div>
    <% end %>
  </div>
  <!-- </tbody>
</table> -->
