
<p>
    <strong>Host:</strong>
    <% @host = User.find_by id: @event.user_id %>
    <%= @host.username %>
</p>

<p>
    <strong>Event Picture:</strong>
    <br>
    <%= image_tag @event.avatar.url(:large) %>
</p>

<p>
    <strong>Name:</strong>
    <%= @event.name %>
</p>

<p>
    <strong>Date:</strong>
    <%= @event.date %>
</p>

<p>
    <strong>Time:</strong>
    <%= @event.time %>
</p>

<p>
    <strong>Location:</strong>
    <%= @event.location %>
</p>

<% if logged_in? && @event.user_id == current_user.id%>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Enter Chat', index_chat_rooms_path %>
<% end %>

<%= link_to 'Back', events_path %>
